#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw; 
}

.inner-text {
    display: flex;
    flex-direction: column;
    background-color: #F8F4EA;
    border-radius: 7px;
    padding: 40px;
    width: 300px;
}

#btn {
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    background-color: #404E5C;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    transition: background-color 0.5s;
}

#btn:hover {
    background-color: #4F6272;
}


#h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}
